h1,footer{
  
  color:navy;
  font-family: sans-serif;
}
img{
  border: 5px solid #555;
  width: 120px;
  hight: 120px;
}
h2{
  background-color: ghostwhite;
  font-family: sans-serif;
  color: navy;
}

a{
color: navy;
text-decoration:none;
font-size:20px;
}

body {  
  background-color:darkturquoise; 
  border-color: black;  
  border-width: 5px;  
  border-style: inset;  
  }  
ol,ul,p,h3{
  font-size: 20px;
  font-family:cursive;

}

ol,ul,p{
color:black;
}
#a2{
color: black;
text-decoration:none;
font-size:20px;
}


 .row {
    margin: 5px;
    color:navy;
    font-family: sans-serif;
  }
  .row,
  .row > .column {
    padding: 5px;
    
  }
  .column {
    float: left;
    width: 24%;

    font-family: sans-serif;
  }
 a:hover,
            a:active {
            background-color:turquoise;
            }
 
 
  .content {
    background-color:ghostwhite;
    padding: 10px;
    color:navy;
 font-family: sans-serif;
  }
   
  @media print and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
@media only screen and (max-width: 900px) {
  body {
    background-color: lightblue;
  }
}
  @media print and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
 